.th-class-1 {
  min-width: 50px;
  max-width: 50px;
}

.th-class-2 {
  min-width: 70px;
  max-width: 90px;
}

.th-class-3 {
  min-width: 90px;
  max-width: 120px;
}

.th-class-4 {
  min-width: 130px;
}

.staff-header {
  padding: 12px;
  border-bottom: 1px solid #c5bdbd;
  position: fixed;
}

.staff {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.staff-content {
  background-color: #efeded;
  padding: 12px;
  height: 100%;
  margin-top: 44px;
  overflow: auto;
}

.staff-box {
  background-color: white;
  padding: 12px;
  overflow: auto;
  //box-shadow: 0 0 3px white;
}

.input-search {
  max-height: 31px;
}

.search {
  position: relative;
}

.icon-search {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.table-box{
  border: 1px solid #d1caca;
}

.table-content {
  border-top: 1px solid #d1caca;
  border-left: 1px solid #d1caca;
}

.table-title {
  background-color: #d1caca;
  border-left: 1px solid #eddfdf;
}

.table-title , .table-content {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.action {
  position: sticky;
  right: 0;
  border-left: 1px solid #d1caca;
}

.table-heading .action {
  border-left: 1px solid #eddfdf;
}

.icon-action {
  display: flex;
  align-items: center;
  width: 16px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}

.img-staff {
  max-width: 25px;
  max-height: 25px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}