@import "../font/fontawesome-pro-5.0.13/css/all.css";

.content {
  max-width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  background-color: #191a22;
  color: white;
  height: 100%;
}

.sidebar-responsive {
  display: none !important;
}

@media only screen and (max-device-width: 480px) {
  .sidebar-responsive {
    display: block !important;
  }
  .btn-toogle-full {
    display: none;
  }
  .sidebar {
    position: absolute;
    left: 0;
    z-index: 2;
    animation-name: show;
  }
  .btn-toogle-responsive {
    display: block !important;
  }
}

.btn-toogle-responsive {
  display: none;
  top: 0;
  right: 0;
  position: absolute;
}

@keyframes show {
  from {margin-left: -240px;}
  to {margin-left: 0;}
}

#show:checked + .sidebar {
  margin-left: 0;
  animation-name: show;
  animation-duration: 500ms;
}

#show + .sidebar {
  margin-left: -240px;
  animation-name: hide;
  animation-duration: 500ms;
}

@keyframes hide {
  from {margin-left: 0;}
  to {margin-left: -240px;}
}

.main-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.icon-show {
  display: none;
  order: 1;
}

.btn-toogle {
  cursor: pointer;
  margin: 10px;
}

.logo-sidebar {
  max-width: 120px;
  margin: 20px auto;
  cursor: pointer;
}

.list-staff-title {
  padding: 12px;
  text-decoration: none;
  color: white;
}

.list-staff:hover, .staff-item:hover, .custumer-item:hover {
  cursor: pointer;
  background-color: #111216;
  color: white;
  margin-left: 3px;
}

.list-staff:hover a {
  color: white;
}

.list-staff:focus, .staff-item:focus, .custumer-item:focus {
  cursor: pointer;
  background-color: #111216;
}

.staff-item {
  display: flex;
  padding: 12px 12px 12px 36px;
  text-decoration: none;
  color: white;
}

.custumer-item {
  display: flex;
  padding: 12px 12px 12px 36px;
  text-decoration: none;
  color: white;
}

.icon-user {
  margin-bottom: 2px;
}

.icon {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 24px;
}

.icon:hover {
  cursor: pointer;
}

.btn-toogle {
  max-width: 20px;
  max-height: 20px;
  margin: 12px 12px 20px 12px;
}

.heading {
  border-bottom: 1px solid #c5bdbd;
}

.avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.license {
  padding: 12px;
  background-color: #efeded;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-device-width: 768px) {
  .license {
    text-align: center;
    display: block;
  }
}

.option {
  position: absolute;
  z-index: 1;
  right: 5px;
  list-style-type: none;
  box-shadow: 0 0 3px #d3c9c9;
  border-radius: 3px;
  line-height: 24px;
  overflow: hidden;
}

.option li {
  padding: 6px 17px;
}

.option li:hover {
  background-color: #0d6efd;
  cursor: pointer;
  color: white;
}